.react-editable-list {
  font-size: 14px;
  list-style: none;
  padding: 0;
}
.react-editable-list-item-value {
  width: 200px;
  display: inline-block;
  padding-bottom: 5px;
}
.react-editable-list-item-value input {
  width: 190px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.react-editable-list-delete-button {
  background: none;
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
}
.react-editable-list-add-button {
  background-color: #ad1457;
  color: #ffffff;
  border: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  border-radius: 4px;
  margin-left: 200px;
  margin-top: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
}
